/* REPTILES CSS by Gorav S. @goravson*/
img {
  width: 240px;
  height: 200px;
}

label {
  display: block;
  color: blue;
  font-weight: bolder;
  font-size: 1.5em;
  margin-left: 50px;
}

.reptile_text {
  display: inline;
}

p {
  color: black;
  font-size: 1.2em;
}

img:hover {
  cursor: pointer;
}